#head{
	position:absolute;
	left:15px;
	top:15px;
	border-radius:5px;
	right:15px;
	height:70px;
	background-color:rgba(0,125,0,.5);
	text-align:center;
	}
#content{
	
	position:absolute;
	left:15px;
	top:100px;
	right:15px;
	border-radius:5px;
	background-color:rgba(125,0,1,.5);
	bottom: 15px;
	}